[access]
	inheritFrom = All-Projects
[project]
	state = active
[access "refs/for/*"]
	push = group Registered Users
[access "refs/for/refs/heads/*"]
	pushMerge = group Registered Users
[access "refs/heads/*"]
	push = +force group Registered Users
[accurevConnector]
	uuid = f9bd851a-28ce-466a-ab99-365da80ffa38
	accurevAccount = accurev://git@localhost:5050
	cpkRegex = Resolves\\s+([\\d,]+)
[accurevBranchmap "refs/heads/master"]
	uuid = a842aa69-6003-43ba-a186-e4ff15d1c8fa
	depotId = 1
	streamId = 3
	mountEid = 2
